APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=database
DB_PORT=3306
DB_NAME=ruderbar
DB_USER=ruderbar
DB_PASS=

SESSION_MAX_AGE=7200
SESSION_REGEN_INTERVAL=900
API_TOKEN_TTL_DAYS=90

INSTALL_KEY=
